.DS_Store
app/.dart_tool/
app/.idea/
app/build/
app/lib/firebase_options.dart
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/android/app/google-services.json
app/firebase.json
app/.firebaserc
app/.firebase/